html, body {
    /*background: #f1f1f1;*/
    /*color: #333;*/
    /*font-family: 'Microsoft YaHei';*/
    height:100%;
    width: 100%;
}
body {
    font-size: 14px;
    -webkit-tap-highlight-color: transparent;
    background-color: #f2f2f2;
    min-width: 320px;
    box-sizing: border-box;
    padding-top: 44px;
    position: relative;
}
input:focus {
    outline: none;
}
input::-webkit-input-placeholder {
    font-size: inherit;
    font-family: inherit;
    /*color: #999;*/
}
.clearfix {
    display: block;
}
.clearfix:after{
    display: block;
    height: 0;
    line-height: 0;
    content: ' ';
    clear: both;
    visibility: hidden;
}
/*手机一像素边框*/
.border-bottom {
    position: relative;
}
.border-bottom:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 0;
    border-bottom: 1px solid #e8e8e8;
    -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
          transform: scaleY(0.5);
}
.border-top {
    position: relative;
}
.border-top:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 0;
    border-top: 1px solid #e8e8e8;
    color: #d9d9d9;
    -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
          transform: scaleY(0.5);
}

.border-right {
    position: relative;
}
.border-right:before {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    border-right: 1px solid #e8e8e8;
    color: #d9d9d9;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
}

.border-left {
    position: relative;
}
.border-left:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    border-left: 1px solid #e8e8e8;
    color: #d9d9d9;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
}



/*头部*/
/*body {*/
    /*box-sizing: border-box;*/
    /*padding-top: 57px;*/
    /*position: relative;*/
/*}*/

.head-wrapper {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 160;
}

.head {
    height: 44px;
    width: 100%;
    color: #fff;
    background-color: #d40073;
    position: relative;
}

.head .left {
    width: 60px;
    font-size: 16px;
    line-height: 44px;
    position: absolute;
    left: 12px;
}

.head .center {
    width: 120px;
    font-size: 18px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.head .right {
    width: 60px;
    font-size: 16px;
    text-align: center;
    line-height: 44px;
    position: absolute;
    right: 0;
}

.head .left a, .head .right a {
    color: #fff;
    outline: none;
    text-decoration: none;
}

.head-wrapper .right .right-block {
    height: 44px;
    position: relative;
}

.head-wrapper .right .right-block  i {
    font-size: 18px;
    display: block;
    position: absolute;
    top: 4px;
    right: 12px;
}

.head-wrapper .right .right-block a {
    font-size: 12px;
    line-height: 16px;
    display: block;
    position: absolute;
    bottom: 4px;
    right: 14px;
}


/*防止body滚动*/
body.modal-open {
    width: 100%;
    position: fixed;
}

/*厂家贸易商小图标*/
.factory, .stalls {
    position: relative;
}

.factory:after {
    content: '厂';
    height: 12px;
    width: 12px;
    color: #fff;
    font-size: 8px;
    font-weight: 900;
    background-color: #67d59e;
    line-height: 13px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 3px;
}

.stalls:after {
    content: '贸';
    height: 12px;
    width: 12px;
    color: #fff;
    font-size: 8px;
    font-weight: 900;
    background-color: #ff9119;
    line-height: 13px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 3px;
}




/*.tag {*/
    /*display: inline-block;*/
    /*position: relative;*/
    /*height: 16px;*/
    /*width: 16px;*/
    /*color: #fff;*/
    /*font-size: 12px;*/
/*}*/

/*.tag.factory {*/
    /*font-weight: 700;*/
    /*background: #3385ff*/
/*}*/

/*.tag.factory:after {*/
    /*content: '厂';*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*-webkit-transform: translateX(-50%) translateY(-50%);*/
    /*transform: translateX(-50%) translateY(-50%);*/
/*}*/

/*.tag.stalls {*/
    /*font-weight: 700;*/
    /*background: #ff7011;*/
/*}*/

/*.tag.stalls:after {*/
    /*content: '贸';*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*-webkit-transform: translateX(-50%) translateY(-50%);*/
    /*transform: translateX(-50%) translateY(-50%);*/
/*}*/
 /* button*/
/*.button {*/
    /*display: inline-block;*/
    /*position: relative;*/
    /*border-radius: 5px;*/
    /*width: auto;*/
    /*-webkit-appearance: none;*/
    /*font-family: inherit;*/
    /*font-size: inherit;*/
    /*border: 0;*/
/*}*/
/*.button:focus {*/
    /*outline: none;*/
/*}*/
/*.button:after {*/
    /*position: absolute;*/
    /*width: 200%;*/
    /*height: 200%;*/
    /*box-sizing: border-box;*/
    /*border-radius: 10px;*/
    /*top: 0;*/
    /*left: 0;*/
    /*border: 1px solid rgba(7, 17, 27, 0.1);*/
    /*-webkit-transform: scale(0.5);*/
            /*transform: scale(0.5);*/
    /*-webkit-transform-origin: 0 0;*/
            /*transform-origin: 0 0;*/
    /*content: ' ';*/
/*}*/
/*.button.button-block {*/
    /*display: block;*/
    /*width: 100%;*/
    /*padding: 12px 0;*/
/*}*/
/*.button.button-blue {*/
    /*background: rgb(76, 147, 253);*/
    /*color: #fff;*/
/*}*/
/*.button.button-blue:active {*/
    /*opacity: 0.7*/
/*}*/
/*.button.button-blue[disabled] {*/
    /*background: rgba(7, 17, 27, 0.2);*/
    /*color: rgba(255, 255, 255, 0.7);*/
/*}*/



/*查看更多按钮*/
/*.more-button {*/
    /*width: 100%;*/
    /*height: 40px;*/
    /*line-height: 40px;*/
    /*text-align: center;*/
    /*font-size: 13px;*/
    /*color: #999;*/
    /*background: #fff;*/
/*}*/
/*.more-button:active {*/
    /*color: #4c93fd;*/
/*}*/

/*!*带箭头的列表*!*/
/*.list-wrapper {*/
    /*margin-top: 8px;*/
    /*padding: 0 16px;*/
    /*background: #fff;*/
/*}*/
/*.list-wrapper .list {*/
    /*position: relative;*/
    /*height: 40px;*/
    /*line-height: 40px;*/
    /*font-size: 14px;*/
/*}*/
/*.list-wrapper .list:after {*/
    /*content: ' ';*/
    /*position: absolute;*/
    /*left: 0;*/
    /*bottom: 0;*/
    /*right: 0;*/
    /*height: 1px;*/
    /*border-bottom: 1px solid #d9d9d9;*/
    /*color: #d9d9d9;*/
    /*-webkit-transform-origin: 0 100%;*/
          /*transform-origin: 0 100%;*/
    /*-webkit-transform: scaleY(0.5);*/
          /*transform: scaleY(0.5);*/
/*}*/
/*.list-wrapper .list:last-child:after {*/
    /*content: none;*/
/*}*/
/*.list-wrapper .list .icon-back {*/
    /*position: absolute;*/
    /*right: 0;*/
    /*color: #666;*/
/*}*/

/*!*供应列表*!*/
/*.supply-list {*/
    /*display: -webkit-box;*/
    /*display: -webkit-flex;*/
    /*display: flex;*/
    /*position: relative;*/
    /*padding: 12px;*/
    /*margin-top: 8px;*/
    /*background: #fff;*/
/*}*/
/*.supply-list .img-wrapper {*/
    /*-webkit-flex: 0 0 75px;*/
    /*flex: 0 0 75px;*/
    /*width: 75px;*/
    /*height: 75px;*/
    /*margin-right: 12px;*/
    /*overflow: hidden;*/
    /*background-image: url('../../images/patterns3.png');*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*background-size: cover;*/
/*}*/
/*.supply-list .content {*/
    /*-webkit-flex: 1;*/
    /*flex: 1;*/
    /*position: relative;*/
/*}*/
/*.supply-list .title {*/
    /*margin-top: 3px;*/
    /*margin-bottom: 20px;*/
    /*padding-right: 16px;*/
    /*font-size: 15px;*/
    /*line-height: 18px;*/
/*}*/
/*.supply-list .type {*/
    /*display: inline-block;*/
    /*position: absolute;*/
    /*left: 0;*/
    /*bottom: 0;*/
    /*padding: 3px 6px;*/
    /*border-radius: 4px;*/
    /*font-size: 12px;*/
    /*color: #999;*/
    /*background: #f8f8f8;*/
/*}*/
/*.supply-list .time {*/
    /*position: absolute;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*font-size: 12px;*/
    /*color: #999;*/
/*}*/
/*.supply-list .icon-back {*/
    /*position: absolute;*/
    /*right: 0;*/
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
    /*-webkit-transform: translateY(-50%);*/
    /*color: #666;*/
/*}*/

/*!*蒙版*!*/
/*.mask{*/
    /*display: none;*/
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*width: auto;*/
    /*height: auto;*/
    /*z-index: 130;*/
    /*background-color: rgba(7, 17, 27, 0.6);*/
/*}*/

/*@keyframes loading {*/
    /*0%{transform: rotate(0);}*/
    /*100%{transform: rotate(360deg);}*/
/*}*/
/*@-webkit-keyframes loading {*/
    /*0%{-webkit-transform: rotate(0);}*/
    /*100%{-webkit-transform: rotate(360deg);}*/
/*}*/

/*.loading {*/
  /*min-width: 24px;*/
  /*min-height: 24px;*/
  /*display: inline-block;*/
  /*vertical-align: middle;*/
  /*-webkit-animation: loading 1s steps(12, end) infinite;*/
  /*animation: loading 1s steps(12, end) infinite;*/
  /*background: transparent url(data:image/svg+xml;base64,PHN2ZyBjbGFzcz0iciIgd2lkdGg9JzEyMHB4JyBoZWlnaHQ9JzEyMHB4JyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDAgMTAwIj4KICAgIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIiBmaWxsPSJub25lIiBjbGFzcz0iYmsiPjwvcmVjdD4KICAgIDxyZWN0IHg9JzQ2LjUnIHk9JzQwJyB3aWR0aD0nNycgaGVpZ2h0PScyMCcgcng9JzUnIHJ5PSc1JyBmaWxsPScjRTlFOUU5JwogICAgICAgICAgdHJhbnNmb3JtPSdyb3RhdGUoMCA1MCA1MCkgdHJhbnNsYXRlKDAgLTMwKSc+CiAgICA8L3JlY3Q+CiAgICA8cmVjdCB4PSc0Ni41JyB5PSc0MCcgd2lkdGg9JzcnIGhlaWdodD0nMjAnIHJ4PSc1JyByeT0nNScgZmlsbD0nIzk4OTY5NycKICAgICAgICAgIHRyYW5zZm9ybT0ncm90YXRlKDMwIDUwIDUwKSB0cmFuc2xhdGUoMCAtMzApJz4KICAgICAgICAgICAgICAgICByZXBlYXRDb3VudD0naW5kZWZpbml0ZScvPgogICAgPC9yZWN0PgogICAgPHJlY3QgeD0nNDYuNScgeT0nNDAnIHdpZHRoPSc3JyBoZWlnaHQ9JzIwJyByeD0nNScgcnk9JzUnIGZpbGw9JyM5Qjk5OUEnCiAgICAgICAgICB0cmFuc2Zvcm09J3JvdGF0ZSg2MCA1MCA1MCkgdHJhbnNsYXRlKDAgLTMwKSc+CiAgICAgICAgICAgICAgICAgcmVwZWF0Q291bnQ9J2luZGVmaW5pdGUnLz4KICAgIDwvcmVjdD4KICAgIDxyZWN0IHg9JzQ2LjUnIHk9JzQwJyB3aWR0aD0nNycgaGVpZ2h0PScyMCcgcng9JzUnIHJ5PSc1JyBmaWxsPScjQTNBMUEyJwogICAgICAgICAgdHJhbnNmb3JtPSdyb3RhdGUoOTAgNTAgNTApIHRyYW5zbGF0ZSgwIC0zMCknPgogICAgPC9yZWN0PgogICAgPHJlY3QgeD0nNDYuNScgeT0nNDAnIHdpZHRoPSc3JyBoZWlnaHQ9JzIwJyByeD0nNScgcnk9JzUnIGZpbGw9JyNBQkE5QUEnCiAgICAgICAgICB0cmFuc2Zvcm09J3JvdGF0ZSgxMjAgNTAgNTApIHRyYW5zbGF0ZSgwIC0zMCknPgogICAgPC9yZWN0PgogICAgPHJlY3QgeD0nNDYuNScgeT0nNDAnIHdpZHRoPSc3JyBoZWlnaHQ9JzIwJyByeD0nNScgcnk9JzUnIGZpbGw9JyNCMkIyQjInCiAgICAgICAgICB0cmFuc2Zvcm09J3JvdGF0ZSgxNTAgNTAgNTApIHRyYW5zbGF0ZSgwIC0zMCknPgogICAgPC9yZWN0PgogICAgPHJlY3QgeD0nNDYuNScgeT0nNDAnIHdpZHRoPSc3JyBoZWlnaHQ9JzIwJyByeD0nNScgcnk9JzUnIGZpbGw9JyNCQUI4QjknCiAgICAgICAgICB0cmFuc2Zvcm09J3JvdGF0ZSgxODAgNTAgNTApIHRyYW5zbGF0ZSgwIC0zMCknPgogICAgPC9yZWN0PgogICAgPHJlY3QgeD0nNDYuNScgeT0nNDAnIHdpZHRoPSc3JyBoZWlnaHQ9JzIwJyByeD0nNScgcnk9JzUnIGZpbGw9JyNDMkMwQzEnCiAgICAgICAgICB0cmFuc2Zvcm09J3JvdGF0ZSgyMTAgNTAgNTApIHRyYW5zbGF0ZSgwIC0zMCknPgogICAgPC9yZWN0PgogICAgPHJlY3QgeD0nNDYuNScgeT0nNDAnIHdpZHRoPSc3JyBoZWlnaHQ9JzIwJyByeD0nNScgcnk9JzUnIGZpbGw9JyNDQkNCQ0InCiAgICAgICAgICB0cmFuc2Zvcm09J3JvdGF0ZSgyNDAgNTAgNTApIHRyYW5zbGF0ZSgwIC0zMCknPgogICAgPC9yZWN0PgogICAgPHJlY3QgeD0nNDYuNScgeT0nNDAnIHdpZHRoPSc3JyBoZWlnaHQ9JzIwJyByeD0nNScgcnk9JzUnIGZpbGw9JyNEMkQyRDInCiAgICAgICAgICB0cmFuc2Zvcm09J3JvdGF0ZSgyNzAgNTAgNTApIHRyYW5zbGF0ZSgwIC0zMCknPgogICAgPC9yZWN0PgogICAgPHJlY3QgeD0nNDYuNScgeT0nNDAnIHdpZHRoPSc3JyBoZWlnaHQ9JzIwJyByeD0nNScgcnk9JzUnIGZpbGw9JyNEQURBREEnCiAgICAgICAgICB0cmFuc2Zvcm09J3JvdGF0ZSgzMDAgNTAgNTApIHRyYW5zbGF0ZSgwIC0zMCknPgogICAgPC9yZWN0PgogICAgPHJlY3QgeD0nNDYuNScgeT0nNDAnIHdpZHRoPSc3JyBoZWlnaHQ9JzIwJyByeD0nNScgcnk9JzUnIGZpbGw9JyNFMkUyRTInCiAgICAgICAgICB0cmFuc2Zvcm09J3JvdGF0ZSgzMzAgNTAgNTApIHRyYW5zbGF0ZSgwIC0zMCknPgogICAgPC9yZWN0Pgo8L3N2Zz4=) no-repeat;*/
  /*background-size: 100%;*/
/*}*/