body {
    padding: 0;
    background-color: #fff;
    overflow: hidden;
}

.logo-wrapper {
    width: 100%;
    padding-top: 45%;
    background-image: url('../../images/leisikong_logo@2x.png');
    background-repeat: no-repeat;
    background-position: center;
}

.input-wrapper {
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
}

.input-wrapper .list {
    width: 100%;
    height: 56px;
    line-height: 56px;
}

.input-wrapper .list input {
    color: #333;
    width: 100%;
    height: 56px;
    font-size: 14px;
}

/*图形验证码*/
.img-code-wrapper {
    position: relative;
}

.img-code-wrapper input {
    width: 70%;
}

.img-code-wrapper .verify-img{
    display: inline-block;
    position: absolute;
    top: 14px;
    right: 0;
    font-size: 0;
}

.button-wrapper {
    padding: 20px 15px 0 15px;
}

.button-wrapper .button {
    color: #fff;
    height: 40px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    border-radius: 4px;
    width: 100%;
    border: none;
}

.button-wrapper .button.active {
    background-color: #d40073;
}

.sign-up {
     color: #666;
     height:40px;
     text-align: right;
     line-height: 40px;
     padding-right: 15px;
}

.hide {
    display: none;
}

.show {
    display: block;
}
