$colorPrimary: #1aad19;
$colorWarn: #e64340;

// link
$linkColorDefault: #586c94;

// background
$bgColorDefault: #efeff4;
$bgColorActive: #ececec;

// line
$lineColorLight: #e5e5e5;
$lineColorDark: #bcbab6;

// text
$textColorTitle: #000000;
$textColorTips: #b2b2b2;
$textColorWarn: $colorWarn;
$textColorGray: #999999;