
.register .nav {
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    text-align: center;
}
.register .nav .active {
    color: #ff7011;
}
.register .input-wrapper {
    width: 100%;
    background: #fff;
}
.register .input-content{
    margin-left: 16px
}
.register .input-wrapper .list {
    height: 48px;
    position: relative;
}
.register .input-wrapper .list input {
    height: 32px;
    line-height: 32px;
    padding: 8px 0;
    display: block;
    width: 90%;
    font-size: 15px;
}

/*电话号码校验提示*/
.register .input-wrapper .list .tip {
    display: none;
    position: absolute;
    top: 0;
    right: 16px;
    height: 48px;
    line-height: 48px;
    font-size: 12px;
}
/*电话号码提示文字*/
.register .input-wrapper .tip .text {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    color: #999;
}


.register .getSMSCode .button {
    font-size: 12px;
    line-height: 14px;
    padding: 8px 6px;
}
.register .getSMSCode{
    position: absolute;
    right: 16px;
    top: 9px;
}

.button-wrapper {
    padding: 50px 16px;
}