/*.head-wrapper .right .right-block {*/
    /*height: 44px;*/
    /*position: relative;*/
/*}*/

/*.head-wrapper .right .right-block  i {*/
    /*font-size: 18px;*/
    /*display: block;*/
    /*position: absolute;*/
    /*top: 4px;*/
    /*right: 12px;*/
/*}*/

/*.head-wrapper .right .right-block a {*/
    /*font-size: 12px;*/
    /*line-height: 16px;*/
    /*display: block;*/
    /*position: absolute;*/
    /*bottom: 4px;*/
    /*right: 14px;*/
/*}*/

/*html, body {*/
    /*overflow: hidden;*/
/*}*/

/*body {*/
    /*padding-bottom: 73px;*/
/*}*/

.address-wrapper {
    min-height: 100%;
    height: auto;
    overflow: hidden;
    padding-bottom: 84px;
    box-sizing: border-box;
}

.address {
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
    margin: 10px 0;
}

.address .user-info {
    color: #333;
    padding: 14px;
}

.address .user-info .name {
    font-size: 16px;
    padding-right: 10px;
}

.address .user-info .address-text {
    color: #666;
    /*font-size: 14px;*/
    padding-top: 6px;
}

.address .address-handle {
    height: 50px;
    padding: 0 12px;
}

.address .address-handle .choose {
    height: 16px;
    width: 16px;
    color: #fff;
    /*font-size: 14px;*/
    text-align: center;
    line-height: 16px;
    border: 1px solid #d3d3d3;
    margin: 16px 6px 16px 0;
    border-radius: 50%;
    float: left;
}

.address .address-handle .choose.active {
    background-color: #d40073;
    border-color: #d40073;
}

.address .address-handle .choose-tip {
    color: #666;
    line-height: 51px;
    float: left;
}

.address .address-handle .delete, .address .address-handle .edit {
    color: #666;
    width: 68px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    margin: 11px 0 11px 12px;
    float: right;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
}

.bottom-slide-wrapper {
    background-color: rgba(0, 0, 0, .9);
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 900;
    display: none;
}

.bottom-slide {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.bottom-slide .top, .bottom-slide .bottom {
    color: red;
    background-color: #fff;
    border-radius: 12px;
    margin: 0 10px 10px 10px;
}

.bottom-slide .bottom {
    color: #666;
}

.btn-wrapper {
    width: 100%;
    margin-top: -73px;
}

.btn-wrapper .btn {
    width: 94%;
    height: 49px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 49px;
    border-radius: 4px;
    background-color: #d40073;
    margin: 0 3% 24px 3%;
}

