.avatar-wrapper {
    height: 106px;
    width: 100%;
    background-image: url("../images/personal_center_bg.png");
    background-size: cover;
}

.avatar-wrapper img {
    height: 56px;
    width:56px;
    border-radius: 50%;
    margin: 20px 12px 30px 15px;
    float: left;
}

.avatar-wrapper .text {
    color: #fff;
    line-height: 24px;
    margin: 28px 0;
    float: left;
}

.avatar-wrapper .arrow {
    color: #fff;
    line-height: 106px;
    float: right;
    margin-right: 16px;
}

.my-buying-wrapper {
    background-color: #fff;
}

.my-buying {
    color: #666;
    height: 44px;
    font-size: 16px;
    line-height: 44px;
    padding-left: 15px;
}

.my-buying-wrapper .status {
    color: #949494;
    text-align: center;
    line-height: 20px;
    padding: 16px;
    display: flex;
}

.my-buying-wrapper .status > div {
    flex: 1;
}

.icon-gongneng {
    font-size: 24px;
    line-height: 36px;
}

.my-collection, .address-manage {
    height: 40px;
    background-color: #fff;
    margin-top: 8px;
}

.my-collection .icon-star-small, .address-manage .icon-dizhibu {
    color: #ffb22c;
    line-height: 40px;
    font-size: 24px;
    padding-left: 15px;
    float: left;
}

.my-collection .text, .address-manage .text {
    padding-left: 9px;
    line-height: 40px;
    float: left;
}

.my-collection .arrow, .address-manage .arrow {
    line-height: 40px;
    padding-right: 16px;
    float: right;
}

.address-manage {
    margin-bottom: 36px;
}

.address-manage .icon-dizhibu {
    color: #ff6c7a;
}