.tip-img {
    height: 114px;
    width: 118px;
    background-image: url("../images/success_tip.png");
    background-size: cover;
    margin: 28px auto 10px auto;
}

.text {
    color: #333;
    text-align: center;
}

.btn-wrapper {
    width: 100%;
    text-align: center;
    margin: 36px auto 0 auto;
}

.btn-wrapper div {
    height: 40px;
    width: 110px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #d40073;
    border-radius: 4px;
    display: inline-block;
    margin: 0 21px;
}

.btn-wrapper .left {
    color: #666;
    border: 1px solid #d1d1d1;
}

.btn-wrapper .right {
    color: #d40073;
    border: 1px solid #d40073;
}
