.upload-image-wrapper {
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
    overflow: hidden;
}

.upload-image {
    color: #999;
    height: 93px;
    width: 93px;
    font-size: 36px;
    border: 1px dashed #999;
    box-sizing: border-box;
    margin:15px auto;
    padding-top: 26px;
    padding-left: 25px;
    position: relative;
    overflow: hidden;
}

.upload-image input {
    position: absolute;
    border: 1px solid red;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
}

.upload-image-wrapper .preview {
    margin: 0 10px 10px 10px;
    text-align: left;
}

.upload-image-wrapper .preview img {
    height: 100px;
    width: 100px;
    margin-right: 10px;
    text-align: center;
}

.publish-buying-info {
    background-color: #fff;
}

.publish-buying-info .text {
    height: 44px;
    line-height: 44px;
    padding: 0 15px;
}

.publish-buying-info .key {
    color: #666;
    float: left;
}

.publish-buying-info .value {
    color: #333;
    float: right;
}

.publish-buying-info .value i {
    color: #999;
    font-size: 12px;
    padding-left: 9px;
}

.publish-buying-info .ipt {
    width: 100%;
    height: 79px;
    border: none;
    resize:none;
    outline: none;
    box-sizing: border-box;
    padding: 12px 15px;
}



.publish-buying-info .select-btn i {
    color: #fff;
    font-size: 12px;
    background-color: #bbb;
    border-radius: 50%;
    padding: 2px;
    margin-right: 5px;
}

.publish-buying-info .select-btn .value {
    margin-left: 50px;
    float: none;
}

.publish-buying-info .select-btn .value i.active {
    background-color: #d40073;
}


