@import '../../common/styles/base/fn';

.head {
    display: flex;
}

.head .right {
    width: 20px;
    margin: 0 15px;
    flex: 0 0 auto;
    position: static;
}

.head .center {
    flex: 1;
    color: #fff;
    height: 28px;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 4px;
    text-align: left;
    margin: 8px 0 8px 15px;
    display: flex;
    position: static;
    transform: translate(0%, 0%);
}

.head .center form {
    display: inline-block;
    margin-right: 5px;
    flex: 1;
    box-sizing: border-box;
}

.head .center div {
    height: 28px;
    width: 32px;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    flex: 0 0 auto;
}

.head .center input {
    display: inline-block;
    width: 100%;
    color: #fff;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    background-color: transparent;
    margin-right: 5px;
    box-sizing: border-box;
}

input::-webkit-input-placeholder {
    color: #fff;
}

.down-app {
    height: 50px;
    width: 100%;
    background-color: #fff;
    display: flex;
}

.down-app .logo {
    flex: 0 0 auto;
    height: 16px;
    width: 80px;
    margin: 17px 12px 17px 15px;
}

.down-app .text {
    flex: 1;
    color: #333;
    font-size: 12px;
    line-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.down-app .down {
    flex: 0 0 auto;
    color: #fff;
    height: 28px;
    width: 70px;
    background-color: #d40073;
    border-radius: 4px;
    line-height: 28px;
    text-align: center;
    margin: 11px 15px 11px 12px;
}

.btn-wrapper {
    height: 113px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 20px 0;
    display: flex;
}

.btn-wrapper .logo-wrapper {
    flex: 0 0 auto;
}

.btn-wrapper .gap {
    flex: 1;
}

.btn-wrapper .logo-wrapper .logo {
    height: 50px;
    width: 50px;
}

.btn-wrapper .text {
    color: #999;
    margin: 8px auto 0 auto;
    text-align: center;
}

#supplyInfo {
    background-image: url("../../images/gongqiuxinxi@2x.png");
}

#patternMade {
    background-image: url("../../images/huaxingdingzhi@2x.png");
}

#dress {
    background-image: url("../../images/3dshiyi@2x.png");
}

#clothMade {
    background-image: url("../../images/banyidingzhi@2x.png");
}

.settled-info-wrapper {
    height: 50px;
    background-color: #fff;
    box-sizing: border-box;
    border-color: #fff;
    border-style: solid;
    border-width: 10px 15px 10px 21px;
    display: flex;
    overflow: hidden;
}

.settled-info-wrapper .left {
    height: 30px;
    width: 30px;
    flex: 0 0 auto;
    margin-right: 12px;
}

.settled-info-wrapper .left .text {
    width: 30px;
    color: #ff8181;
    font-size: 15px;
    font-weight: 600;
}

.settled-info-wrapper .right {
    flex: 1;
}

.settled-info-wrapper .right .swiper-slide {
    line-height: 15px;
    font-size: 10px;
}

.settled-info-wrapper .right .swiper-slide .firm-name {
    color: #666;
    float: left;
}

.settled-info-wrapper .right .swiper-slide .time {
    color: #999;
    float: right;
}

.new-arrival-wrapper .banner {
    background-image: url("../../images/zuixinshangjia_xiaohaibao-copy@2x.jpg");
}
.new-arrival-wrapper .swiper-slide
    padding-top 8px
.new-arrival-wrapper .pattern
    centerPic()
    position relative
    // box-sizing border-box
    background-color #f8f8f8
    // background-image url('http://image.tswq.wang/product/ios-6f44286d15244e3dbb3f85c75e61c397.jpg')
    padding-top 90%
    .text
        textOverflowHide()
        height 24px
        line-height 24px
        font-size 14px
        color $textColorNumber
/*.new-arrival-wrapper .pattern-wrapper .swiper-wrapper .see-more {*/
/*width: 103px !important;*/
/*color: #999;*/
/*line-height: 103px;*/
/*border: 2px solid #e8e8e8;*/
/*}*/

.version-of-clothing-wrapper .banner {
    background-image: url("../../images/banyuizhuanqu_xiaohaibao@2x.jpg");
}
.supply-buying-info-swiper .swiper-slide {
    border-right: 1px solid #e8e8e8;
    padding: 0 8px;
    margin-bottom: -8px;
    padding-bottom: 8px;
}

.supply-buying-info-swiper.left-swiper {
    border-left: none;
}

.quality-merchants-wrapper .bottom {
    overflow: hidden;
}

.quality-merchants-wrapper .bottom div {
    width: 33.33%;
    background-color: #fff;
    box-sizing: border-box;
    padding: 6px;
    float: left;
}

.quality-merchants-wrapper .bottom div img {
    width: 100%;
    display: block;
}

.wrapper-common {
    background-color: #fff;
    margin-top: 10px;
}

.banner {
    height: 120px;
    width: 100%;
    background-size: cover;
}

.top-header div {
    width: 80px;
    height: 44px;
    line-height: 44px;
    margin: 0 auto;
}

.top-header div span {
    color: #666;
    font-size: 15px;
}

.top-header div i {
    color: #999;
}

.left-swiper {
    text-align: center;
    padding-bottom: 8px;
    border-left: 8px solid #fff;
    overflow: hidden;
}

.left-swiper .swiper-slide {
    font-size: 0;
    text-align: center;
    box-sizing: border-box;
    padding-right: 8px;
}

.left-swiper .swiper-slide img {
    width: 100%;
    margin-top: 8px;
}

.left-swiper .swiper-slide .text {
    color: #666;
    width: 90%;
    text-align: center;
    font-size: 12px;
    margin-top: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}