@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?jur27s');
  src:  url('fonts/icomoon.eot?jur27s#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?jur27s') format('truetype'),
    url('fonts/icomoon.woff?jur27s') format('woff'),
    url('fonts/icomoon.svg?jur27s#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanhui:before {
  content: "\e60d";
}
.icon-gongneng:before {
  content: "\e60f";
}
.icon-sousuo:before {
  content: "\e612";
}
.icon-dianhua:before {
  content: "\e62b";
}
.icon-star-small:before {
  content: "\e65a";
}
.icon-wode:before {
  content: "\e666";
}
.icon-tupian:before {
  content: "\e67e";
}
.icon-dizhibu:before {
  content: "\e684";
}
.icon-xiayiye:before {
  content: "\e69e";
}
.icon-xiangji:before {
  content: "\e6ba";
}
.icon-shangjia:before {
  content: "\e6bd";
}
.icon-shouji:before {
  content: "\e6c8";
}
.icon-shangchuantupian:before {
  content: "\e6f1";
}
.icon-gou:before {
  content: "\e902";
}
.icon-shouye:before {
  content: "\e903";
}
.icon-shangsanjiao:before {
  content: "\e900";
}
.icon-xiasanjiao:before {
  content: "\e901";
}
