.choose-usertype .nav {
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    text-align: center;
}
.choose-usertype .nav .active {
    //color: #ff7011;
    color: #d40073;
}
.choose-usertype .usertype-wrapper {
    padding: 25px 40px;
    background: #fff;
    color: #888;
}
.choose-usertype .usertype-wrapper:nth-of-type(3){
    margin-top: 10px
}
.choose-usertype .usertype-wrapper.active {
    color: #d40073;
}
.choose-usertype .content .iconfont {
    display: inline-block;
    line-height: 40px;
    font-size: 40px;
}
.choose-usertype .content .desc {
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.choose-usertype .desc p { 
    font-size: 18px;
}
.choose-usertype .desc span {
    font-size: 12px;
    line-height: 30px;
}
.button-wrapper {
    padding: 50px 16px;
}