.upload-image-wrapper {
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
    padding-top: 15px;
    overflow: hidden;
}

.upload-image-wrapper img {
    color: #999;
    height: 100px;
    width: 100px;
    box-sizing: border-box;
    margin: 0 auto 15px auto;
    //overflow: hidden;
}

.publish-supply-info {
    background-color: #fff;
}

.publish-supply-info .text {
    height: 44px;
    line-height: 44px;
    padding: 0 15px;
}

.publish-supply-info .key {
    color: #666;
    float: left;
}

.publish-supply-info .value {
    color: #333;
    float: right;
}

.publish-supply-info .value i {
    color: #999;
    font-size: 12px;
    padding-left: 9px;
}

.publish-supply-info .ipt {
    width: 100%;
    height: 79px;
    border: none;
    resize:none;
    outline: none;
    box-sizing: border-box;
    padding: 12px 15px;
}
