.head-wrapper {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 160;
}

.head {
    height: 44px;
    width: 100%;
    color: #fff;
    background-color: #d40073;
    position: relative;
}

.head .left {
    width: 60px;
    font-size: 16px;
    line-height: 44px;
    position: absolute;
    left: 12px;
}

.head .center {
    width: 120px;
    font-size: 18px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.head .right {
    width: 60px;
    font-size: 16px;
    text-align: center;
    line-height: 44px;
    position: absolute;
    right: 0;
}

.head .left a, .head .right a {
    color: #fff;
    outline: none;
    text-decoration: none;
}

.head-wrapper .right .right-block {
    height: 44px;
    position: relative;
}

.head-wrapper .right .right-block  i {
    font-size: 18px;
    display: block;
    position: absolute;
    top: 4px;
    right: 12px;
}

.head-wrapper .right .right-block a {
    font-size: 12px;
    line-height: 16px;
    display: block;
    position: absolute;
    bottom: 4px;
    right: 14px;
}