@import '../fn.styl';
@import '../variable/color.styl';
patternsListLayout()
    box-sizing border-box
    background #fff
    width 100%
    & > div
        float left
        box-sizing border-box
        width 50%
        padding 12px
        &:nth-of-type(odd)
            border-right: 1px solid $borderColorDefault;
            border-bottom: 1px solid $borderColorDefault;
        &:nth-of-type(even)
            border-bottom: 1px solid $borderColorDefault;
            border-right: 1px solid transparent;
        div
            centerPic()
            background-color $bgColorDefault
            background-image url('http://image.tswq.wang/product/ios-6f44286d15244e3dbb3f85c75e61c397.jpg')
            padding-top 90%
        p
            &:nth-of-type(1)
                textOverflowHide()
                height 20px
                line-height 20px
                font-size 14px
                color $textColorNumber
            &:nth-of-type(2)
                textOverflowHide()
                font-size 12px
                color $textColorPrice
                